sudo: false
language: node_js
services:
  - mysql
node_js:
- '8'
branches:
  only:
  - master
  - devolopment
  - feature/serveur/signup
cache:
  directories:
  - serveur/node_modules
before_install:
- cd serveur/
- mysql -e 'CREATE DATABASE test;'
install:
- npm ci
before_script:
- npm install -g sequelize-cli
- sequelize db:migrate
script:
- npm test
notification:
  email:false
