nav {
    background-color: transparent;
    padding: 2vh 0;
    width: 100%;
    justify-content: space-around !important;
    padding: 0;
    display: flex;
    font-size: 2rem;
    width: 100%;
    top: 0;
    position: fixed !important;

    a {
        padding: 2vh;
        text-align: center;
        color: rgba(5, 5, 5, 0.85);

        text-decoration: none;
    }
}