form {
    padding-right: 32px;
    padding-left: 32px;
}

label {
    display: block;
    font-weight: 600;
    color: grey;
    padding: 10px 0;
}

span {
    color: red;
}

input {
    border: 2px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;

    border-radius: 5px;

    transition: border-bottom-color 0.25s ease-in;


    &:focus {
        border-bottom-color: #e5195f;
        outline: 0;
    }
}

button {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #e5195f;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    margin: 5vh 0;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}